#contact {
    margin-top: -20px;
}
.contact__container {
    display: flex;
    justify-content: center;
}

.feedback__title {
    margin-bottom: 31px;
    text-align: center;
}

.feedback__form {
    width: 460px;
}

.feedback__input,
.feedback__textarea {
    margin-bottom: 24px;
}

.feedback__textarea {
    resize: vertical;
    height: 200px;
    margin-top: -3px;
    margin-bottom: 20px;
}

.btn--feedback {
    padding: 10px 30px;
}

.btn__wrapper {
    text-align: center;
}